*{
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: center;
}

#btns{
	width: 80%;
	justify-content: center;
}
#imagenes{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*footer {
	width: 100%;
	display: flex;
	background-color: #17BEBB;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	text-align: center;
}*/

.social-net {
	width: 60%;
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	margin: 7px
}

.net-img {
	width: 3%;
}

.net-img img {
	width: 100%;
}

#logo{
	margin: 5px 100px ;
}

ul{
	list-style: none;
}
.contacto-nav{
	font-size: 20px;
	text-align: right;
	margin-top:100px;
}

.caption h3{
	text-align: center;
}

/*formulario contacto*/
.background-form{
	background: rgba(244,93,1,.9);
	font-size: 2em;
	font-family: 'Coming Soon', cursive;
}
.logo-form{
	padding-top: 5%;
	width: 35%;
	font-size: 3em;
}
.form{
	margin-top: 5%;
}
.btn-color{
	width: 20%;
	background-color: #97cc04;
	color: black;
}
.image-form{
	width: 25%;
	display:inline-block;
}
.black{
	color: black;
	font-weight: bold;
}
iframe{
	margin-left: 20%;
	margin-right: 20%;
	width: 50vw;
	height: 50vh;
	margin-bottom: 10%;
}
/*Termina formulario contact*/

.largo{
	min-height: 250px;
}

 /*Estilo footer*/

footer {
  display: flex;
  background: url(../assets/pruebas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  border: 15px solid #30cDf8;
  font-family: 'Coming Soon', cursive;
  font-size: 1em;
}

footer .container-fluid {
  display: flex;
  justify-content: center;
  background: rgba(39,  64, 70, 0.7);
  color: #FFF;
  width: 100%;
  padding: 3%;
  font-size: 1em;
}

footer a{
  color: #FFF;
}

footer a:hover {
  text-decoration: none;
  color: #FFF;
  font-size: 120%;
}


#iconos h5 {
  padding-bottom: 2%;
}

#iconos i {
  width: 10%;
}

.carrito{
  padding: 10px;
  font-size: 30px;
}

.nintendo{
  background-color: #FFA500;
}

.x-box{
  background-color: #97CC04;
}

.ps{
  background-color: #2D7DD2;
}

#iconos img {
  width: 15%;
}

#iconos span{
  font-size: 75%;
}

#iconos div {
  padding-bottom: 2%;
}

#nav-busquedad {
	height: 35px;
	background-color: #97CC04;
	margin: 0;
	padding: 0;
	color: #fff;

}
.icon-nav i{
	font-size:38px;
	color: #fff;
	justify-content: flex-end;
	margin-right: 15px;
	align-items: center;
}