*{
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

#btns{
    width: 80%;
    justify-content: center;
}
#imagenes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer {
    width: 100%;
    display: flex;
    background-color: #17BEBB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.social-net {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin: 7px
}

.net-img {
    width: 3%;
}

.net-img img {
    width: 100%;
}

#logo{
    margin: 5px 100px ;
}

ul{
    list-style: none;
}
.contacto-nav{
    font-size: 20px;
    text-align: right;
    margin-top:100px;
}

.caption h3{
    text-align: center;
}

.largo{
  min-height: 250px;
}
